# Challenges

## Challenge 1

In [76]:
import numpy as np
import pandas as pd

In [15]:
l = [0,1,2,3,4,5,6,7,8]

In [71]:

def calculate(calc_list):
    if len(calc_list) != 9:
        raise ValueError("List must contain nine numbers.")
    else:
        np_arr = np.array(calc_list)
        np_arr = np_arr.reshape((3, 3))

        # Mean
        final_mean = [np.apply_along_axis(np.mean,0, np_arr).tolist(), np.apply_along_axis(np.mean,1, np_arr).tolist(), np.apply_along_axis(np.mean,0, np_arr.flatten()).tolist()]

        # Variance
        final_var = [np.apply_along_axis(np.var,0, np_arr).tolist(), np.apply_along_axis(np.var,1, np_arr).tolist(), np.apply_along_axis(np.var,0, np_arr.flatten()).tolist()]

        # Std
        final_std = [np.apply_along_axis(np.std,0, np_arr).tolist(), np.apply_along_axis(np.std,1, np_arr).tolist(), np.apply_along_axis(np.std,0, np_arr.flatten()).tolist()]

        # Max
        final_max= [np.apply_along_axis(np.max,0, np_arr).tolist(), np.apply_along_axis(np.max,1, np_arr).tolist(), np.apply_along_axis(np.max,0, np_arr.flatten()).tolist()]

        # Min
        final_min = [np.apply_along_axis(np.min,0, np_arr).tolist(), np.apply_along_axis(np.min,1, np_arr).tolist(), np.apply_along_axis(np.min,0, np_arr.flatten()).tolist()]

        # Sum
        final_sum = [np.apply_along_axis(np.sum,0, np_arr).tolist(), np.apply_along_axis(np.sum,1, np_arr).tolist(), np.apply_along_axis(np.sum,0, np_arr.flatten()).tolist()]

        d = {
            'mean': final_mean,
            'variance': final_var,
            'standard deviation': final_std,
            'max': final_max,
            'min': final_min,
            'sum': final_sum
        }

        return d

In [75]:
final_test = calculate([0,1,2,3,4,5,6,7,8])
print(final_test)

{'mean': [[3.0, 4.0, 5.0], [1.0, 4.0, 7.0], 4.0], 'variance': [[6.0, 6.0, 6.0], [0.6666666666666666, 0.6666666666666666, 0.6666666666666666], 6.666666666666667], 'standard deviation': [[2.449489742783178, 2.449489742783178, 2.449489742783178], [0.816496580927726, 0.816496580927726, 0.816496580927726], 2.581988897471611], 'max': [[6, 7, 8], [2, 5, 8], 8], 'min': [[0, 1, 2], [0, 3, 6], 0], 'sum': [[9, 12, 15], [3, 12, 21], 36]}

## Challenge 2

In [ ]:
# Example code that is useful for the following questions:

# (df.query('age in [35, 38, 55]')
#    .assign(new_column = df["age"]/df["fare"],
#            new_column_1 = df["age"]/df["fare"])
#    .loc[:,["survived", "sex", "class", "embark_town", "fare", "new_column", "new_column_1"]]
#    .groupby(["embark_town", "sex"])
#    .quantile([0.25,0.75])
#    # .max("fare")
#    # .sort_values(["new_column"])
#    # .pivot_table(...)
#    .rename(columns={'new_column': 'fraction'})
# )

In [179]:
df = pd.read_csv('challenge_2.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [83]:
# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

r_counts = pd.Series(df.value_counts('race'))

In [100]:
# What is the average age of men?
(df.query('sex in ["Male"]')
   .loc[:,["sex", "age"]]
   .mean()
)

age    39.433547
dtype: float64

In [105]:
# What is the percentage of people who have a Bachelor's degree?

pd.Series(df.value_counts('education', normalize=True))["Bachelors"]

0.16446055096587942

In [109]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
(df.query('education in ["Bachelors", "Masters", "Doctorate"]')
   .value_counts('salary', normalize=True)
)[">50K"]

0.46535843011613937

In [113]:
# What percentage of people without advanced education make more than 50K?
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
(df.query('education not in ["Bachelors", "Masters", "Doctorate"]')
   .value_counts('salary', normalize=True)
)[">50K"]

0.173713601914639

In [116]:
# What is the minimum number of hours a person works per week?

(df.loc[:,["hours-per-week"]]
   .min()
)

hours-per-week    1
dtype: int64

In [124]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
(df.query('`hours-per-week` in [1]')
   .value_counts('salary', normalize=True)
)[">50K"]

0.1

In [174]:
# What country has the highest percentage of people that earn >50K and what is that percentage?
(df.groupby(["native-country", "salary"])['salary'].count()
)

native-country  salary
?               <=50K      437
                >50K       146
Cambodia        <=50K       12
                >50K         7
Canada          <=50K       82
                          ...
United-States   >50K      7171
Vietnam         <=50K       62
                >50K         5
Yugoslavia      <=50K       10
                >50K         6
Name: salary, Length: 82, dtype: int64

In [258]:
total = df.shape[0]

detail_aggr = (df.assign(country_sum = 1)
 .query('salary in [">50K"]')
 .loc[:,["native-country", 'salary', "country_sum"]]
 .groupby(["native-country", 'salary'])
 .count()
)

In [260]:
total = df.shape[0]

combined = (df.assign(country_sum = 1)
 .loc[:,["native-country", "country_sum"]]
 .groupby(["native-country"])
 .count()
 .merge(detail_aggr, left_on="native-country", right_on="native-country")
)

In [266]:
(combined.assign(proz = combined['country_sum_y'] / combined['country_sum_x'])
.sort_values('proz', ascending=False)
).iloc[0,:]

country_sum_x    43.000000
country_sum_y    18.000000
proz              0.418605
Name: Iran, dtype: float64

In [236]:
# total = df.shape[0]

# (df.assign(country_sum = 1)
#  .loc[:,["native-country", "country_sum"]]
#  .groupby(["native-country"])
#  .count()
#  .merge(df, left_on="native-country", right_on="native-country")
#  .loc[:,["native-country", "country_sum", "salary"]]
# )

In [271]:
# Identify the most popular occupation for those who earn >50K in India.

(df.assign(country_sum = 1)
 .query('salary in [">50K"] & `native-country`in ["India"]')
 .loc[:,["native-country", "occupation"]]
 .value_counts('occupation')
)

occupation
Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Adm-clerical         1
Sales                1
Transport-moving     1
dtype: int64